/* import font */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*------------------*/

:root {
    --color1: #ffdd00;
    --color2: #fffdfd;
    --color3: #f9f9f9;
    --color4: #f3f3f3;
    --darkmode-color1: #222;
    --darkmode-color2: #1f1f1f;
    --darkmode-color3: #333333;
    --border-color: #f1f1f1;
    --f7-message-sent-bg-color: var(--color1);
    --f7-message-sent-text-color: #222;
    --f7-navbar-border-color: var(--border-color);
    --f7-message-text-footer-font-size: 9px;
    --f7-messagebar-height: 60px;
    --f7-messagebar-bg-color: var(--color3);
    --f7-messagebar-textarea-height: 40px;
    --f7-messagebar-textarea-padding: 9px 20px;
    --f7-messagebar-textarea-border-radius: 20px;
    --f7-messagebar-textarea-bg-color: #f1f1f1;
    --f7-messagebar-textarea-border: 1px solid var(--border-color);
}

.font-nunito-light {
    font-weight: 300 !important;
    font-family: 'Nunito', sans-serif;
}

.font-nunito-regular {
    font-weight: 400 !important;
    font-family: 'Nunito', sans-serif;
}

.font-nunito-medium {
    font-weight: 600 !important;
    font-family: 'Nunito', sans-serif;
}

.font-nunito-bold {
    font-weight: 700 !important;
    font-family: 'Nunito', sans-serif;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.bg-color1 {
    background-color: var(--color1);
}

.color1 {
    color: var(--color1);
}

.bg-color2 {
    background-color: var(--color2);
}

.color2 {
    color: var(--color2);
}

.bg-color3 {
    background-color: var(--color3);
}

.bg-darkmode1 {
    background-color: var(--darkmode-color1);
}

.bg-darkmode2 {
    background-color: var(--darkmode-color2);
}

.bg-darkmode3 {
    background-color: var(--darkmode-color3);
}

.panel-menu {
    border-right: 1px solid #f1f1f1;
}

.panel-details {
    border-left: 1px solid #f1f1f1;
}

.send-link i {
    font-size: 32px;
    color: var(--color1);
    margin-top: -5px;
}

.toggle-sheet i {
    font-size: 25px;
    color: var(--darkmode-color1);
    margin-top: -5px;
}

.messagebar .toolbar-inner {
    margin-top: 5px;
}

.message-text-footer {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.sidebar-top {
    background-color: var(--color3);
    margin-left: -8px;
    width: 49.5px;
    height: 100%;
    justify-content: center !important;
}

.sidebar-top i {
    font-size: 25px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 50px;
    background-color: var(--color3);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 11px 0px;
    margin-left: -2px;
    text-decoration: none;
    text-align: center;
    color: var(--darkmode-color1);
    font-size: 20px;
}

.sidebar a.active {
    background-color: var(--color4);
    color: var(--darkmode-color1);
}

.sidebar a:hover:not(.active) {
    background-color: var(--color4);
    color: var(--darkmode-color1);
}

.sidebar-bottom {
    position: fixed;
    bottom: 0;
}

.sidebar-bottom a {
    padding: 11px 8px;
    text-align: center;
    margin-left: 0px !important;
}

.sidebar-bottom i {
    font-size: 25px;
}

.sidebar-bottom img {
    text-align: center;
    justify-content: center;
    width: 33px;
}

.sidebar-content {
    overflow: scroll !important;
    height: 100%;
    margin-left: 50px;
    margin-top: -32px;
    padding: 1px 0px;
}

.list .list-chat {
    border-top: none !important;
}

.list-chat ul {
    background-color: transparent;
}

.list-chat ul::before, .list-chat ul::after {
    background-color: transparent;
}

#loading {
    margin-top: 150px;
    text-align: center;
    justify-content: center;
}

#loading i {
    font-size: 80px;
    color: var(--color1);
}

#loading h1 {
    margin-top: -8px;
}

#loading p {
    margin-top: -15px;
}

#loading .progressbar-infinite {
    margin-top: 30px;
    max-width: 80%;
}

.chattitle {
    font-size: 15px !important;
}

.chattext {
    font-size: 14px !important;
}

@media only screen and (max-width: 600px) {
    .toggle-panel {
        display: block !important;
    }
    .toggle-panel i {
        color: var(--color1);
        font-size: 20px;
    }
}

@media only screen and (min-width: 800px) {
    .panel-menu {
        width: 400px;
    }
    .panel-details {
        width: 300px;
    }
}